<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        * {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 20px;
    background: white;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: grey;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: gray;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: grey;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

#newPost {
    background-color: white;
}
    </style>
    
</head>
<body>
    <div class="header">
        <label for="blogName" id="blogTitle" class="blogTitle"><%= name %>'s Blog</label>
        <br>
    </div>
    <div class="row">
      <div class="leftcolumn" id="leftcolumn">
        <br>
    <div class ="container">
        <h1 class="mb-4">Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success">New Article</a>
        
        <form action="/logout?_method=DELETE" method="POST">
          <br>
          <button type="submit">Log Out</button>
        </form>
        <% articles.forEach(article => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= article.title %></h4>
                    <div class="card-subtitle mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= article.description %></div>
                    <a href="articles/<%= article.slug %>" class="btn btn-primary">View Post</a>
                    <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit Post</a>
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete Post</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
      </div>
      <div class="rightcolumn">
        <div class="card" id="card">
          <h3>About Me:</h3>
            <p class="submitAbout" id="submitAbout">My name is Brian Steuber and I am a Junior studying Computer Science at Gonzaga University.
              I am 20 years old and live in San Jose, California. I have 2 sisters and I enjoy playing golf in my spare time.
            </p>
            <textarea name="aboutText" class="aboutText1" id="aboutText" cols="40" rows="10" placeholder="About Text"></textarea>
            <button type="button" onclick="submitAbout()">Change About</button>
        </div>
        <div class="card" id="card">
            <h3>Follow Me:</h3>
            <p class="followText" id="followText">Instagram: @brian_steuber</p>
            <input type="text" name="followInput" class="followInput" placeholder="Instagram: @brian_steuber" size="30">
            <br>
            <br>
            <button type="button" onclick="submitFollow()">Change Follow</button>
        </div>
      </div>
      <div class="template">
      </div>
    </div>
    <br>
      <div class="footer">
        <p>Designed by: Brian Steuber</p>
        <p>Business Inquiries: brian.steuber18@gmail.com</p>
      </div>
</body>
</html>

